@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Candal&family=Montserrat&family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
    
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(32, 28, 28);
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0.5em;
    width: 100%;
    bottom: 0;
}

