.products-content{
    margin: 10;
    height: 45vh
}

.productsHeading {
    margin: 2vmax auto;
    width: 15vw;
    border-bottom: 1px solid rgb(194, 190, 190);
    padding-bottom: 7px;
    color:rgb(95, 91, 91);
    font: 500 20px "Poppins";
    text-align: center;
  
}

.paginationBox {
    display: flex;
    justify-content: center;
    margin: 6vmax;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    text-decoration: none;
    font: 300 0.7vmax "Roboto";
    color: rgb(80, 80, 80);
    transition: all 0.3s;
  }
  
  .page-item:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .page-item:hover .page-link {
    color: rgb(0, 0, 0);
  }
  
  .pageItemActive {
    background-color: tomato;
  }
  
  .pageLinkActive {
    color: white;
  }

.products-content{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2vmax auto;
    max-width: 100%;
}

.filterBox{
    width: 10vmax;
    position: absolute;
    top: 14.8vmax;
    left: 4vmax
}

.categoryBox{
    padding: 0;
}

.category-link{
    list-style: none; 
    color:black;
    font-family: "Poppins" sans-serif;
    margin: 0.4vmax;
    cursor: pointer;
    transition: all 0.5s;
}

.category-link:hover {
    color: tomato;
  }
  
.filterBox > fieldset {
    border: 1px solid rgba(0, 0, 0, 0.329);
    letter-spacing: 1px;
}


@media screen and (max-width: 600px){
    .filterBox{
        width: 20vmax;
        position: static;
        margin: auto;
    }
    .page-link {
        font: 300 1.7vmax "Roboto";
      }
      .category-link {
        font: 400 1.8vmax "Roboto";
      }
}